svg {
  margin: 0 auto;
}

#chart-1 svg {
  display: block;
}

h1 {
  margin-bottom: 2rem;
}

body {
  background-color: #1A0846;
  color: #fff;
  height: 100%;
  positon: relative;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.container {
  /*        max-width: 56rem;
*/
}

img.block {
  display: block;
  border: solid #333 1p;
  margin: 0 auto;
}

.button-animation {
  background-color: #2C007D;
  text-align: center;
  margin-left: 15%;
  font-family: 'Open Sans', serif;
  font-size: 17px;
} 

.axis line, .axis path {
  stroke-width: 0.5;
  stroke: #999;
}

#chart-2 svg, #chart-3 svg, #chart-4 svg, #chart-6 svg {
  display: block;
  margin: 0 auto;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Set the sticky things 2% from the top */
.sticky {
  top: 10%;
  align-self: flex-start;
}

/* Minimum height of 70% of the screen */
.step {
  min-height: 75vh;
}

.step > p {
  background: #3a10a5;
  padding: 10px 0;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.step > ul, .step > h2, .step > h3 {
  background: #1A0846;
}

.header {
  width: 100%;
  padding-top: 6rem;
  top: 0;
}

.footer {
  width: 100%;
  bottom: 0;
  padding: 4rem 0;
}

.overlay-intro {
  background: linear-gradient(to top,  rgba(26, 8, 70, 1), rgba(99,26,115, 0.5) , rgba(255,143,135, 0.3));
}

.overlay {
  background: linear-gradient(to bottom,  rgba(26, 8, 70, 1), rgba(99,26,115, 0.8) , rgba(255,143,135, 0.7));
}

/* .opaque {
  background-color: #1A0846;
} */

.dark-blue {
  background-color: #11568d;
}

.gradient-1 {
  background-image: rgba(2, 23, 86, 0.7);
  /* Old browsers */
  background-image: -webkit-linear-gradient(-45deg, rgba(2, 23, 86, 0.7) 15%, rgba(25, 63, 248, 0.7) 50%, rgba(70, 55, 238, 0.7) 95%);
  /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(135deg, rgba(2, 23, 86, 0.7) 15%, rgba(25, 63, 248, 0.7) 50%, rgba(70, 55, 238, 0.7) 95%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

h1, h2, h3, h4, h5, span, p {
  font-family: Segoe UI, Helvetica, sans-serif;
}

.jumbotron.bg-clear {
  background: none;
  background-color: transparent;
  color: #fbcdb0;
}

#chart-2-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#piano {
  margin-left: 160px;
}

.range {
  background: linear-gradient(135deg, #1A0846 15%,#2C007D) 50%,rgba(70,55,238,.5) 95%, url('https://worshiphousemedia.s3.amazonaws.com/images/main/s/mo/pow/mo/stageconcertlights.jpg');
  background-size: cover;
}

.credits {
  background: linear-gradient(0deg, #1A0846,#631A73, #FF8F87), url('https://www.oulunylioppilaslehti.fi/wp-content/uploads/2018/11/bohemianrhapsody_pressi10.jpg');
  background-size: cover;
}

.arc {
  fill: none;
  stroke-width: 2;
  stroke: #fff;
  overflow: visible !important;
}

.arc rect {
  fill: white;
}

.arc circle {
  fill: red;
  stroke: red;
}

.arc rect[name="Freddie Mercury"] {
  stroke: #fe6a90 !important;
  fill: #fe6a90;
}

.arc text {
  stroke-width: .5;
  font-family: 'Source Sans Pro';
  fill: #feccb1;
}

#piano {
  background-color: #021756;
}

.pale-link a {
  color: #fbcdb0;
  text-decoration: none;
  font-weight: bold;
}

.pale-link a:hover {
  text-decoration: none;
  color: #fe6a90;
}
