$PURPLE: #1a0846;


svg {
  margin: 0 auto;
}

#chart-1 svg {
  display: block;
}

h1 {
  margin-bottom: 2rem;
}

body {
  background-color: $PURPLE;
  color: #fff;
  height: 100%;
  position: relative;
  width: 100%;
  overflow-x: hidden; // prevent horizontal scroll
}

h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

img.block {
  display: block;
  border: solid #333 1p;
  margin: 0 auto;
}

.axis line, .axis path {
  stroke-width: 0.5;
  stroke: #999;
}

#chart-2 svg, #chart-3 svg, #chart-4 svg, #chart-6 svg {
  display: block;
  margin: 0 auto;
}

#total {
  font-size: 1.5rem;
  padding: .1rem .25rem;
  background: #fff;
  border-radius: .25rem;
  color: $PURPLE;
}

.pop-text {
  overflow: auto;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Set the sticky things 2% from the top */
.sticky {
  top: 10%;
  align-self: flex-start;
}

/* Minimum height of 70% of the screen */
.step {
  min-height: 75vh;
}

.step > p {
  background: rgb(58, 16, 165);
  padding: 10px 0;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.step > ul, .step > h2, .step > h3 {
  background: $PURPLE;
}

// gradients
.overlay-intro {
  background: linear-gradient(to top, rgba(26,8,70,1), rgba(99,26,115,0.5), rgba(255,143,135,0.3));
}

.overlay {
  background: linear-gradient(to bottom, rgba(26, 8, 70, 1), rgba(99, 26, 115, 0.8), rgba(255, 143, 135, 0.7));
}

.credits {
  background: linear-gradient(0deg, #1A0846,#631A73, #FF8F87), url('https://www.oulunylioppilaslehti.fi/wp-content/uploads/2018/11/bohemianrhapsody_pressi10.jpg');
  background-size: cover;
}

// misc
.header {
  width: 100%;
  padding-top: 6rem;
  top:0;
}

.footer {
  width: 100%;
  bottom:0;
  padding: 4rem 0;
}

.opaque {
  background-color: rgba(2,23,86, 1.0);
}

.dark-blue {
  background-color: rgba(17, 86, 141, 1);
}

.gradient-1 {
  background-image: rgba(2,23,86, .7); /* Old browsers */
  background-image: -webkit-linear-gradient(-45deg, rgba(2,23,86,.7) 15%,rgba(25,63,248,.7) 50%,rgba(70,55,238,.7) 95%); /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(135deg, rgba(2,23,86,.7) 15%,rgba(25,63,248,.7) 50%,rgba(70,55,238,.7) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

h1,h2,h3,h4,h5,span,p {
  font-family: 'Segoe UI', Helvetica, sans-serif;
}

#chart-2-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#piano {
  margin-left: 160px;
}

.range {
  background: linear-gradient(135deg, #1A0846 15%, #2C007D 50%, rgba(70,55,238,.5) 95%), url('https://worshiphousemedia.s3.amazonaws.com/images/main/s/mo/pow/mo/stageconcertlights.jpg');
  background-size: cover;
}

.arc {
  fill:none;
  stroke-width: 2;
  stroke:#fff;
  overflow: visible !important;

  rect {
    // stroke-width: 18;
    fill: white;
  }

  circle {
    fill: red;
    stroke: red;
  }

  text {
    stroke-width: .5;
    font-family: 'Source Sans Pro';
    fill: rgba(254, 204, 177, 1);
  }

  .range-key-low, .range-key-high {
    fill: rgba(26, 8, 70, 0.6);
    stroke: rgba(26, 8, 70, 0.6);
  }
}

.arc rect[name="Freddie Mercury"] {
  // stroke-width: 24;
  stroke: rgba(254, 106, 144, 1) !important;
  fill: rgba(254, 106, 144, 1);
}

#piano {
  background-color: rgba(2,23,86, 1.0);
}

.pale-link a {
  color: #fbcdb0;
  text-decoration: none;
  font-weight: bold;
}

.pale-link a:hover {
  text-decoration: none;
  color: rgba(254, 106, 144, 1);
}

.d3-tip {
  line-height: 1;
  padding: .5rem;
  font-size: .8rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 3px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: .75rem;
  width: 100%;
  line-height: 0.8;
  color: rgba(0, 0, 0, 0.75);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
